<% provide(:title, t("title.users.index")) %>
<h1><%= t("views.users.index.title") %></h1>
<%== pagy_bootstrap_nav @pagy %>
<ul class="users">
  <%= render @users %>
</ul>
<%== pagy_bootstrap_nav @pagy %>
